<% trackingsheets=Trackingsheet.where('processmaster_id'=>BSON::ObjectId.from_string(request.GET.first.second.to_s)).order('id asc')%> 
<% processmaster=Processmaster.find(request.GET.first.second)%>
<% @brand=processmaster.try(:brand).try(:name)%>

								<%
									#data=[]
								 data={'images'=>'Images','factory'=>'Factory','subcontractor'=>'Sub Contractor','salestrackingsheetedtosamplerequest'=>'Sales Proceed to Sample Request','customername'=>'Customer Name','customeraccount'=>'Customer Account','project'=>'Project','xmilldate'=>'X Mill Date','productionleadtime'=>'Production Lead Time', 'salesproceedtosamplerequest'=>'Sales Proceed to Sample Request','protoduebackfromvendor'=>'Proto Due Back From Vendor','daftovendordate'=>'Daf to Vendor Date','rtlmu'=>'RTL MU','mkup'=>'MK-UP','projectedunits'=>'Projected Units','targetfob'=>'Target FOB','targetmu'=>'Target MU','targetws'=>'Target WS','percolor'=>'Per Color','perstyle'=>'Per Style','incoterms'=>'Inco Terms','moq'=>'MOQ','thousandtofivethousandPCS'=>'1000 - 5000 PCS','fivethousandtotenthousandPCS'=>'5000 - 10000 PCS','ldpboat'=>'LDP Boat','ldpair'=>'LDP Air','startshipdate'=>'Start Ship Date','orderduedateviaboat'=>'Order Due Date Via Boat','orderduedateviaair'=>'Order Due Date Via Air','soss'=>'S/O OR S/S','nmbrofdefsmplneeded'=>'# of Dev Samples Needed','dafissued'=>'DAF Issued','sampleduedate'=>'Sample Due Date','daf2soss'=>'S/O OR S/S','daf2nmbrofdefsmplneeded'=>'# of Dev Samples Needed','daf2dafissued'=>'DAF Issued','daf2sampleduedate'=>'Sample Due Date','comments'=>'Comments'}
								#data=[{'factory'=>'Factory'}]
  

								%>
								
<!-- newly added for search-->
		<!--<div class="container-fluid">
		    <div class="row-fluid">
		      <div class="span12">
						<table style="border:none;">
							<tr>
								<td style="border:none;">
								</td>
								<td style="border:none;">
								<%#= form_tag trackingsheets_path, :method => 'get',:id =>'default_search' do %>
								 <%#= text_field_tag :searchterm, params[:searchterm],:title => 'Search by Stylename,Stylenumber',:placeholder=>'Search Here....' %>
								 <div class="hide-me">
								  <%#= text_field_tag :processmaster_id, params[:processmaster_id],:value=>request.GET.first.second %>
								 </div>
								<%# end %>
								</td>
							</tr>
						</table>
					</div>
			</div>
		</div>	-->					
<!-- newly added for search-->																
								
								<!-- <div class="container-fluid"> 
							           	<div class="row-fluid">

													<div class="span12">
														<div class="widget-box">
															<div class="widget-title">
																<span class="icon">
																	<i class="icon-info-sign"></i>
																</span>
																<h5>General Data</h5>
															</div>
															<div class="widget-content nopadding">
																<table class="table table-bordered">
																	<th>Division</th>
																	
																	<th>Season</th>
																	<th>Contact</th>
																	<th>Market</th>
																	<th>Sub-Market</th> 
																	<%# model_class='trackingsheet' %>
																		<%# exist=false%>
																		<%# @a=1%>
																		<%# @trackingsheets.each do |trackingsheet|%>
																			<%# break if exist==true %>
																		<%# if current_user.userrole==VendorPortal::Application.config.admin %>
																			<%# exist=true%>
																		<tbody>
																			<td style="text-align:center;"><%#=trackingsheet.try(:style).try(:division).try(:name)%></td>
																			<td style="text-align:center;"><%#=processmaster.try(:season).try(:name)%></td>
																			<td style="text-align:center;"><%#if !processmaster.contact.blank? %><%# contact=User.find(processmaster.contact) %><%#=contact.try(:lastname).to_s+' '+contact.try(:firstname)+' ('+contact.try(:email)+')'.to_s%><%#end%></td>
																			<td style="text-align:center;"><%#=processmaster.try(:market).try(:name)%></td>
																			<td style="text-align:center;"><%#=processmaster.try(:submarket).try(:name)%></td> 
																	 </tbody>
																	<% #@a=@a+1%>
																		<% #@brand=processmaster.try(:brand).try(:name)%>
																	<% #end %>
																	<% #end %>
																					
																</table>
															</div>
														</div>
													</div>
								</div>
								</div>-->



								<div class="container-fluid">


								<div class="row-fluid">

								<!-- Newly Added Starts-->
								<div class="span12">
	
									<span style="text-align:right; margin-top:2px;">
								<div class="widget-box">

								<%#= link_to "Apply Changes", url_for(params),:class => 'btn btn-warning btn-xs' %> 	
								</span>

								<div class="widget-title">
									<span class="icon">
										<i class="icon-file"></i>
									</span>
	
								
									<h5>Tracking Sheet</h5>
							 <select id="ts-actions" class="lock_select">
								<option value="none">No Action</option>
								<option value="lock">Lock</option>
								<option value="unlock">Un Lock</option>
								<option value="export">Export to CSV</option>
								</select>
								<%= link_to "Apply","#",:class=>'btn btn-info done',:style=>'margin-top:-3px' %>
																   
								</div>	
							
	
								                 <!-- Indicators -->   
													
				<!-- Scroll Tabs Starts-->

                  
																	
 <!--modal starts--> 
  
 <div class="modal history-modal my_history hide" id="modal-history"> 
                                          <div class="modal-header"> 
                                             <button type="button" id="close-modal" class="close" data-dismiss="modal">×</button> 
                                             <h3 class="modal_head"></h3> 
											  
                                         </div> 
                                         <div class="modal-body"> 
			            					
				             
						                </div> 
</div> 
          
     
 <div id="overlay"></div> 
  
 <!-- modal ends--> 																	
<div id="demoDiv">
			<div id="demoGrid">


<%= render :partial => "form_admin_partail" %>



		</div>

</div>

															
							</div>
						
						

                                                                
	                </div> 

                                
	            </div> 


			</div>			

	<!-- Newly Added Ends-->
	</div>
	</div>
		
