<p id="notice"><%= notice %></p>

<p>
  <strong>Images:</strong>
  <%= @trackingsheet.images %>
</p>

<%= link_to 'Edit', edit_trackingsheet_path(@trackingsheet) %> |
<%= link_to 'Back', trackingsheets_path %>
