<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @referencestyle.name %>
</p>

<%= link_to 'Edit', edit_referencestyle_path(@referencestyle) %> |
<%= link_to 'Back', referencestyles_path %>
