<div class="container-fluid">
    <div class="row-fluid">
      <div class="span12" style="text-align:center;display:none;">
        
					<span class="span2" style="margin:0 auto;float:none;"> 
						
							<a href="#" class="tracking-sheet"  style="float:left;">
				       	<canvas id="myCanvas1"  height="100" width="100"></canvas>
							</a>
						 	<a href="#" class="report"  style="float:left;">
								<canvas id="myCanvas2"  height="100" width="100"></canvas>
							</a>
							<a href="#" class="document"  style="float:left;">
								<canvas id="myCanvas3"  height="100" width="100"></canvas>
							</a>
							<a href="#" class="process" style="float:left;">
								<canvas id="myCanvas4"  height="100" width="100"></canvas>
							</a>
						
					</span>
         	
   </div>
		
</div>


    </div>
