<div class="container-fluid">
    <div class="row-fluid">
     
        <div class="span12">
					<div class="span3"> </div>
					<% if current_user.userrole ==VendorPortal::Application.config.admin || current_user.userrole ==VendorPortal::Application.config.operationadmin%>
					<div class="span3"> 
						
						<div><div><%= link_to (image_tag "processbutton.png"),processmasters_path%></div></div>
						
					</div>
					<%end%>
   
     			  
        
					<div class="span3" > 
						
						<div><%= link_to (image_tag "tracking sheet.png"),processmasters_path%></div>
						
					</div>
					
					
					<div class="span3"> </div>
		</div>
		

		<div class="span12"> </div>

       <div class="span12" style="margin:0 auto;float:none;">
		<div class="span3"> </div>
		<div class="span3"> 
			
			<div><%= link_to (image_tag "documentsbutton.png")%></div>
			
		</div>




		<div class="span3" > 
			
			<div><%= link_to (image_tag "reportsbutton.png")%></div>
			
		</div>
		<div class="span3"> </div>
	</div>
		
</div>


    </div>
