
		<% if !@style.persisted? %>

			<%if current_user.userrole==VendorPortal::Application.config.operationadmin%>

				<%div_id=current_user.division_id%>
			<% else %>
				<%div_id=@style.division_id%>
			<%end%>
		<% else %>
			<%div_id=@style.division_id%>
		<%end%>
											<div class="control-group">
													<label class="control-label">Sales</label>
														<div class="controls">
															<%= f.collection_select :sales_id,User.where('userrole'=>VendorPortal::Application.config.sales,'division'=>div_id),:id,:name, {:include_blank => "Please select"} %>
																
														</div>
													</div>

										<div class="control-group">
													<label class="control-label">Designers</label>
														<div class="controls">
															<%= f.collection_select :designer_id,User.where('userrole'=>VendorPortal::Application.config.designer,'division'=>div_id),:id,:name, {:include_blank => "Please select"} %>
																
														</div>
													</div>


											<div class="control-group">
													<label class="control-label">Operations</label>
														<div class="controls">
															<%= f.collection_select :operationuser_id,User.where('userrole'=>VendorPortal::Application.config.operationuser,'division'=>div_id),:id,:name, {:include_blank => "Please select"} %>
																
														</div>
													</div>
