

.checkbox_seperation{
padding: 3px;
border: 1px solid #dfdfdf;
margin-top: 4px;	
}
.checkbox_seperation  input {
	vertical-align: top !important;
}

.nav-tabs li a{
	font-size:10px !important;
}
.version_head{
	font-size:11px;
}
.controls label{
	margin-top:5px;
}
.version_head i {
	margin-top:-1px;
}



.carousel-control {
	background:#fff !important;
}

.carousel-indicators {
	bottom:-40px;
	left:0;
	width:100%;
	background:#ccc;
	padding: 6px 0px;
	margin-left:0;
	border-top:2px solid #fff;
}
.carousel-indicators li {
	width:12px;
	height:12px;	
	background:#fff;
	border-color:#fff;

}
.carousel-indicators .active {
	width:14px;
	height:14px;
	background:#428bca;
	border-color:#428bca;
}
.carousel-inner .thumbnail {
	margin-bottom:0;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
}
.carousel-inner .caption {
	background:#ddd;
	padding: 10px;
}

.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0.3;
}
.item > blockquote{
padding:0px !important
}
.overide-left{
right:50px;
left:auto;

}

.overide-carousel-control {
    background: none !important;
}
.margin-top-10px{
margin-top: 10px;
}

.lblcolor{
	background-color:#ECD3C5 !important;
}
.widget-box a{
	margin:2px;
}
.trackingsheet_form{
	margin-top:-30px;
}


