

.checkbox_seperation{
padding: 3px;
border: 1px solid #dfdfdf;
margin-top: 4px;	
}
.checkbox_seperation  input {
	vertical-align: top !important;
}

.nav-tabs li a{
	font-size:10px !important;
}
.version_head{
	font-size:11px;
}
.controls label{
	margin-top:5px;
}
.version_head i {
	margin-top:-1px;
}



.carousel-control {
	background:#fff !important;
}

.carousel-indicators {
	bottom:-40px;
	left:0;
	width:100%;
	background:#ccc;
	padding: 6px 0px;
	margin-left:0;
	border-top:2px solid #fff;
}
.carousel-indicators li {
	width:12px;
	height:12px;	
	background:#fff;
	border-color:#fff;

}
.carousel-indicators .active {
	width:14px;
	height:14px;
	background:#428bca;
	border-color:#428bca;
}
.carousel-inner .thumbnail {
	margin-bottom:0;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
}
.carousel-inner .caption {
	background:#ddd;
	padding: 10px;
}

.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0.3;
}
.item > blockquote{
padding:0px !important
}
.overide-left{
right:50px;
left:auto;

}

.overide-carousel-control {
    background: none !important;
}
.margin-top-10px{
margin-top: 10px;
}

.lblcolor{
	background-color:#ECD3C5 !important;
}
.widget-box a{
	margin:2px;
}
.trackingsheet_form{
	margin-top:-30px;
}
table th{
  background-color: #999 !important
}
table th {
	border:1px solid #000 !important;
	color:#000 !important;
}
.table-bordered td{
	border:1px solid #000 !important;
}
.widget-title{
	border-top:1px solid #000 !important;
	border-left:1px solid #000 !important;
	border-right:1px solid #000 !important;
	border-bottom:1px solid #000 !important;
}

table{
    border: 1px solid black;
    
    
}

.tbuniformwidth th, td {
    border: 1px solid black;
    overflow: hidden;
    width: 12000px;
}

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.mybest{
	float:left !important;
}

.g_BodyFixed2 .g_Cl{
  width:120px !important;;
  margin: 0 auto;
}
.g_HeadFixed .g_Cl{
  width:120px !important;;
  font-size:10px;
  
}
.g_HeadFixed .g_C{
	width:120px !important;
  
}
.g_BodyFixed .g_C{
	width:109px !important;
  
}
.g_Base {
	height:80vh !important; 
}
span .best_in_place{
  word-wrap: break-word;
  white-space: normal;
}

.g_BodyStatic .g_Cl .g_C{
  
  word-wrap: break-word;
  white-space: normal;
}
a .delete_data{
	background-color:red !important;
}


.myclosemodal{
	top: 0 !important;
	left: 30% !important;
}


.modal {
	margin: 0 0 -280px !important;
}
