

.checkbox_seperation{
padding: 3px;
border: 1px solid #dfdfdf;
margin-top: 4px;	
}
.checkbox_seperation  input {
	vertical-align: top !important;
}

.nav-tabs li a{
	font-size:10px !important;
}
.version_head{
	font-size:11px;
}
.controls label{
	margin-top:5px;
}
.version_head i {
	margin-top:-1px;
}