<p id="notice"><%= notice %></p>

<p>
  <strong>Division:</strong>
  <%= @processmaster.division %>
</p>

<%= link_to 'Edit', edit_processmaster_path(@processmaster) %> |
<%= link_to 'Back', processmasters_path %>
