<div class="container-fluid">
            	<div class="row-fluid">
					<div class="span3">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="icon-info-sign"></i>
								</span>
								<h5>Project</h5>
							</div>
							<div class="widget-content nopadding">
								<table class="table table-bordered">
									
									<tbody>
										<tr>
											<td>Logo</td>
											<td>{img_tag}</td>
										</tr>
										<tr>
											<td>Division</td>
											<td>7th</td>
										</tr>
										<tr>
											<td>Brand</td>
											<td>Adidas</td>
										</tr>
										<tr>
											<td>Season</td>
											<td>3</td>
										</tr>
										<tr>
											<td>Year</td>
											<td>2015</td>
										</tr>
										<tr>
											<td>Market</td>
											<td>Market Name</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>



<div class="span9"><!-- -->
	<div class="widget-box">
	                            <div class="widget-title">
	                                <ul class="nav nav-tabs">
	                                    <li class="active"><a data-toggle="tab" href="#tab1">General</a></li>
	                                    <li class=""><a data-toggle="tab" href="#tab2">Sales Enters</a></li>
	                                    <li class=""><a data-toggle="tab" href="#tab3">Minimum MOQ</a></li>
										<li class=""><a data-toggle="tab" href="#tab3">First Cost Per Style</a></li>
										<li class=""><a data-toggle="tab" href="#tab3">LDP Load</a></li>
										<li class=""><a data-toggle="tab" href="#tab3">Customer Delivery</a></li>
										<li class=""><a data-toggle="tab" href="#tab3">1st DAF/STYLE Sample</a></li>
										<li class=""><a data-toggle="tab" href="#tab3">2nd DAF/STYLE Sample</a></li>
	                                </ul>
	                            </div>
	                            <div class="widget-content tab-content">
	                                <div id="tab1" class="tab-pane active">
	                                	<p>And is full of waffle to It has multiple paragraphs and is full of waffle to pad out the comment. Usually, you just wish these sorts of comments would come to an end.multiple paragraphs and is full of waffle to pad out the comment. Usually, you just wish these sorts of comments would come to an end.multiple paragraphs and is full of waffle to pad out the comment. Usually, you just wish these sorts of comments would come to an end. </p>
                  					
	                                </div>
	                                <div id="tab2" class="tab-pane">
	                                <p> waffle to pad out the comment. Usually, you just wish these sorts of comments would come to an end.multiple paragraphs and is full of waffle to pad out the comment. Usually, you just wish these sorts of comments would come to an end. </p>
                                
	                                </div>
	                                <div id="tab3" class="tab-pane">
	                                	<p>full of waffle to pad out the comment. Usually, you just wish these sorts of comments would come to an end.multiple paragraphs and is full of waffle to pad out the comment. Usually, you just wish these sorts of comments would come to an end. </p>
                 
	                                </div>
	                            </div>                            
	                        </div>
</div><!-- -->










					<div class="span4">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="icon-file"></i>
								</span>
								<h5>Version History</h5>
							</div>
							<div class="widget-content nopadding">
								<table class="table table-bordered">
									<thead>
								
									</thead>
									<tbody>
										<tr>
											<td><a href="#">Version 1</a></td>
										</tr>
										<tr>
											<td><a href="#">Version 2</a></td>
										</tr>
										<tr>
											<td><a href="#">Version 3</a></td>
										</tr>
										<tr>
											<td><a href="#">Version 4</a></td>
										</tr>
										<tr>
											<td><a href="#">Version 5</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
</div>				